/* Forms
/* ---------------------------------------------------------- */

.maonrails-frame-container {
  position: relative;
}

.maonrails-frame-container iframe {
  width: 100%;
  height: 100%;
}

.maonrails-lead-form {
  font-family: "Lato", Arial, sans-serif;
}

.maonrails-lead-form-button,
.maonrails-lead-form button {
  background-color: #e83628;
  box-shadow: 0 3px 10px rgba(232, 54, 39, 0.3);
  color: #fff;
  border: 0;
  border-radius: 40px;
  box-shadow: 0 3px 10px rgba(126, 210, 221, 0.3);
  cursor: pointer;
  display: inline-block;
  font: bold 10pt/22pt "Lato", sans-serif;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.maonrails-lead-form-button:hover,
.maonrails-lead-form button:hover {
  background-color: #f4392a;
  text-decoration: none;
  color: #fff;
}

.maonrails-lead-form label {
  margin-bottom: 5px;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
  display: block;
  text-align: left;
}

.maonrails-lead-form .labelpair {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
  vertical-align: top;
  max-width: 100%;
}

.maonrails-lead-form .text,
.maonrails-lead-form select,
.maonrails-lead-form textarea {
  padding: 10px 0;
  margin-bottom: 15px;
  font-size: 12pt;
  border: 0;
  border-bottom: 2px solid #d5d5d5;
  background: transparent;
  box-shadow: none;
  font-family: inherit;
}

.maonrails-lead-form .labelpair .text,
.maonrails-lead-form .labelpair select {
  margin-bottom: 0;
  max-width: 100%;
}

body .maonrails-popup .form-sent::before {
  content: "\02713";
  font-size: 16pt;
  line-height: 26pt;
  font-family: inherit;
}

.maonrails-popup .text {
  width: 99%;
}

.maonrails-error-message {
  background: #f05c54;
  color: #fff;
  padding: 8px 12px;
  position: absolute;
  border-radius: 4px;
  z-index: 5;
  top: 100%;
  left: auto;
  right: auto;
  font-weight: bold;
  font-size: 8pt;
  text-align: left;
}

.maonrails-error-message:before {
  content: "\25bc";
  position: absolute;
  bottom: -15px;
  color: #f05c54;
  font-size: 12pt;
  left: 50%;
  transform: translateX(-50%);
}

.maonrails-popup .spinner {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0px auto;
  position: relative;
  -webkit-animation: rotation 0.6s infinite linear;
  -moz-animation: rotation 0.6s infinite linear;
  -o-animation: rotation 0.6s infinite linear;
  animation: rotation 0.6s infinite linear;
  border-left: 2px solid rgba(255, 255, 255, 0.35);
  border-right: 2px solid rgba(255, 255, 255, 0.35);
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.maonrails-popup button .spinner {
  margin-left: 7px;
  margin-right: -5px;
  vertical-align: -4px;
}

.maonrails-popup .spinner.dark-spin {
  border-left: 2px solid rgba(0, 0, 0, 0.35);
  border-right: 2px solid rgba(0, 0, 0, 0.35);
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
  border-top: 2px solid rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.maonrails-lead-form {
  padding: 60px 0;
  max-width: 630px;
  margin: auto;
}

.maonrails-lead-form h1 {
  margin: 0;
  padding: 0;
  font-size: 20pt;
  text-align: center;
  margin-bottom: 10px;
}

.maonrails-lead-form p {
  font-size: 13pt;
  margin-bottom: 30px;
}

.maonrails-lead-form form .labelpair {
  margin-right: 2.5%;
  width: 31%;
}

.maonrails-lead-form.maonrails-inline-form form .labelpair:nth-of-type(3n) {
  margin-right: 0;
}

.maonrails-lead-form textarea {
  width: 100%;
  height: 80px;
  padding: 13px;
}

.maonrails-lead-form .buttons {
  text-align: right;
  margin-top: 20px;
}

.maonrails-lead-form .text {
  padding: 13px;
  width: 100%;
}

.maonrails-lead-form .text,
.maonrails-lead-form textarea,
.maonrails-lead-form select {
  background: #f2f2f2;
  border: 0;
  box-sizing: border-box;
}

.maonrails-lead-form select {
  padding: 12px;
  width: 100%;
  margin-right: 0;
  border: 0;
}

.maonrails-lead-form select:focus {
  border: 0;
  background: #f7f7f7;
}

.maonrails-lead-form form input:focus,
.maonrails-lead-form form textarea:focus {
  border: 0;
  background: #f7f7f7;
}

.maonrails-lead-form .form-sent {
  font-size: 13pt;
  background: #dfffdc;
  text-align: center;
  padding: 20px;
  display: none;
}

.maonrails-lead-form .form-sent h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13pt;
  margin-bottom: 15px;
}

.maonrails-lead-form input[name="captcha_code"] {
  width: 218px;
}

#overlay,
#maonrails-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #666;
  z-index: 30;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
}

.ie7 #overlay,
.ie7 #maonrails-overlay {
  display: none;
  width: 0;
  height: 0;
}

.maonrails-lead-form-button {
  position: fixed;
  z-index: 25;
  border-radius: 0;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.34);
}

.maonrails-lead-form-button.left {
  left: 0;
  top: 50%;
  transform: translateY(-350%) rotate(90deg);
  transform-origin: left bottom;
}

.maonrails-lead-form-button.right {
  right: 0;
  top: 50%;
  transform: translate(-43px, 0%) rotate(90deg);
  transform-origin: right bottom;
}

.maonrails-lead-form-button.bl {
  left: 5%;
  bottom: 0;
}

.maonrails-lead-form-button.br {
  right: 5%;
  bottom: 0;
}

.maonrails-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0;
  background: #fff;
  border-radius: 4px;
  display: none;
  z-index: 100;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-height: 100%;
  overflow: auto;
}

.maonrails-popup span.close {
  top: 3px;
  right: 1px;
  font-size: 20pt;
  margin: 0;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.maonrails-popup h1 {
  color: #ea4a3d;
  background: #f3f3f3;
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 0;
}

.maonrails-popup p {
  padding: 0 0 20px;
  margin: 0;
  font-size: 12pt;
}

.maonrails-popup span.close {
  top: 3px;
  right: 1px;
  font-size: 20pt;
  margin: 0;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.maonrails-popup form,
.maonrails-popup .body {
  display: block;
  padding: 20px;
  background: #fff;
}

.maonrails-popup.maonrails-lead-form form .labelpair {
  width: 48%;
}

.maonrails-popup.maonrails-lead-form form .labelpair:nth-of-type(2n) {
  margin-right: 0;
}

.maonrails-popup form .buttons {
  text-align: center;
  padding: 20px;
  margin: 10px -20px -20px -20px;
  border-top: 1px solid #d8d8d8;
}

.maonrails-popup .form-sent {
  padding: 40px 20px 60px;
  background: #fff;
}

.maonrails-popup .form-sent:before {
  content: "\E86D";
  background: #b0f4a1;
  border-radius: 40px;
  display: inline-block;
  font-family: "mor";
  font-size: 17pt;
  line-height: 27pt;
  margin-bottom: 30px;
  padding: 5px 0;
  width: 46px;
}

form {
  margin: 0 0 var(--margin) 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  color: var(--color-primary);
  display: block;
  font-size: 0.9em;
  font-weight: var(--font-bold);
  margin: 0 0 (var(--margin) * 0.5) 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: var(--color-bg);
  border-radius: var(--radius);
  border: none;
  border: solid 1px var(--color-border);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.6em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-primary);
}

select {
  height: var(--height);
  padding-right: var(--height);
  text-overflow: ellipsis;
}

select option {
  color: var(--color-primary);
  background: var(--color-bg);
}

select:focus::-ms-value {
  background-color: transparent;
}

select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: var(--height);
}

textarea {
  padding: 0.3em 0.6em;
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: block;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: flex;
  align-items: center;
  color: var(--color-base);
  cursor: pointer;
  font-size: 1em;
  font-weight: var(--font-normal);
  padding-left: calc((var(--height) * 0.6) + 0.75em);
  padding-right: 2rem;
  position: relative;
  user-select: none;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: var(--color-bg);
  border-radius: var(--radius);
  border: solid 1px var(--color-border);
  content: "";
  display: inline-block;
  height: calc(var(--height) * 0.6);
  line-height: calc(var(--height) * 0.56);
  text-align: center;
  width: calc(var(--height) * 0.6);
  margin-right: 1rem;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-bg);
  content: "✓";
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-primary);
}

input[type="checkbox"] + label:before {
  border-radius: var(--radius);
}

input[type="radio"] + label:before {
  border-radius: 100%;
}
